name: Deploy to Cloud Run

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: "projects/655119496782/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
        service_account: "github-cloudrun-sa@vertex-ai-learning-480916.iam.gserviceaccount.com"

    - name: Configure Docker
      run: gcloud auth configure-docker us-central1-docker.pkg.dev

    - name: Build & Push Docker Image
      run: |
        docker build -t us-central1-docker.pkg.dev/vertex-ai-learning-480916/rag-repo/rag-api:latest ./deployment
        docker push us-central1-docker.pkg.dev/vertex-ai-learning-480916/rag-repo/rag-api:latest

    - name: Deploy to Cloud Run
      run: |
        gcloud run deploy rag-api \
          --image us-central1-docker.pkg.dev/vertex-ai-learning-480916/rag-repo/rag-api:latest \
          --region us-central1 \
          --platform managed \
          --allow-unauthenticated \
          --memory 4Gi \
          --cpu 2
